
/*************************
*******Typography******
**************************/
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,400italic,500,700,100);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,800,300,600,700);
@import url(http://fonts.googleapis.com/css?family=Abel);

body {
    font-family: sans-serif;
    background:white;
    position: relative;
}

body::-webkit-scrollbar { width: 15px; }

body::-webkit-scrollbar-track {
  background: var(--white);
  border-left: 1px solid var(--cultured);
}

body::-webkit-scrollbar-thumb {
  background: hsl(0, 0%, 80%);
  border: 3px solid var(--white);
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb:hover { background: hsl(0, 0%, 70%); }


ul li {
    list-style: none;
}

a:hover {
    outline: none;
    text-decoration:none;
}

a:focus {
    outline:none;
    outline-offset: 0;
}

a {
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
}

.btn:hover,
.btn:focus{
    outline: none;
    box-shadow: none;
}

a#scrollUp {
    bottom: 0px;
    right: 10px;
    padding: 5px 10px;
    background: #1c809c;
    color: #FFF;
    -webkit-animation: bounce 2s ease infinite;
    animation: bounce 2s ease infinite;
}

a#scrollUp i{
    font-size: 30px;
}

/*************************
*******Cart CSS******
**************************/

#do_action {
    margin-bottom: 50px;
}

.breadcrumbs {
    position: relative;
}

.breadcrumbs .breadcrumb {
    background:transparent;
    margin-bottom: 75px;
    padding-left: 0;
}

.breadcrumbs .breadcrumb li a {
    background:#1c809c;
    color: #FFFFFF;
    padding: 3px 7px;
}

.breadcrumbs .breadcrumb li a:after {
    content:"";
    height:auto;
    width: auto;
    border-width: 8px;
    border-style: solid;
    border-color:transparent transparent transparent #1c809c;
    position: absolute;
    top: 11px;
    left:48px;

}

.breadcrumbs .breadcrumb > li + li:before {
    content: " ";
}

#cart_items .cart_info {
    border: 1px solid #E6E4DF;
    margin-bottom: 50px
}


#cart_items .cart_info .cart_menu {
    background: #1c809c;
    color: #fff;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
}

#cart_items .cart_info .table.table-condensed thead tr {
    height: 51px;
}


#cart_items .cart_info .table.table-condensed tr {
    border-bottom: 1px solid#F7F7FM
}

#cart_items .cart_info .table.table-condensed tr:last-child {
    border-bottom: 0
}

.cart_info table tr td {
    border-top: 0 none;
    vertical-align: inherit;
}


#cart_items .cart_info .image {
    padding-left: 30px;
}


#cart_items .cart_info .cart_description h4 {
    margin-bottom: 0
}

#cart_items .cart_info .cart_description h4 a {
    color: #363432;
    font-family: 'Roboto',sans-serif;
    font-size: 20px;
    font-weight: normal;

}

#cart_items .cart_info .cart_description p {
    color:#696763
}


#cart_items .cart_info .cart_price p {
    color:#696763;
    font-size: 18px
}


#cart_items .cart_info .cart_total_price {
    color: #1c809c;
    font-size: 24px;
}

.cart_product {
    display: block;
    margin: 15px -70px 10px 25px;
}

.cart_quantity_button a {
    background:#F0F0E9;
    color: #696763;
    display: inline-block;
    font-size: 16px;
    height: 28px;
    overflow: hidden;
    text-align: center;
    width: 35px;
    float: left;
}


.cart_quantity_input {
    color: #696763;
    float: left;
    font-size: 16px;
    text-align: center;
    font-family: 'Roboto',sans-serif;

}


.cart_delete  {
    display: block;
    margin-right: -12px;
    overflow: hidden;
}


.cart_delete a {
   
    color: #FFFFFF;
    padding: 5px 7px;
    font-size: 16px
}




.bg h2.title {
    margin-right:0;
    margin-left:0;
    margin-top: 0;
}

.heading h3 {
    color: #363432;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

.heading p {
    color: #434343;
    font-size: 16px;
    font-weight: 300;
}


#do_action .total_area {
    padding-bottom: 18px !important;
}

#do_action .total_area, #do_action .chose_area {
    border: 1px solid #E6E4DF;
    color: #696763;
    padding: 30px 25px 30px 30px;
    margin-bottom: 80px;
}

.total_area span {
    float: right;
}

.total_area ul li {
    background:#E6E4DF;
    color: #696763;
    margin-top: 10px;
    padding: 7px 20px;
}


.user_option label {
    color: #696763;
    font-weight: normal;
    margin-left: 10px;
}


.user_info {
    display: block;
    margin-bottom: 15px;
    margin-top: 20px;
    overflow: hidden;
}

.user_info label {
    color: #696763;
    display: block;
    font-size: 15px;
    font-weight: normal;

}

.user_info .single_field {
    width: 31%
}

.user_info .single_field.zip-field input {
    background: transparent;
    border: 1px solid#F0F0E9
}

.user_info > li {
    float: left;
    margin-right: 10px
}

.user_info > li > span {
}

.user_info input, select, textarea {
    background: #F0F0E9;
    border:0;
    color: #696763;
    padding: 5px;
    width: 100%;
    border-radius: 0;
    resize: none
}

.user_info select:focus {
    border: 0
}


.chose_area .update {
    margin-left: 40px;
}

.update, .check_out {
    background: #1c809c;
    border-radius: 0;
    color: #FFFFFF;
    margin-top: 18px;
    border: none;
    padding: 5px 15px;
}
.update{
    margin-left: 40px;
}

.check_out {
    margin-left: 20px
}

.btn-wsp{
        position: absolute;
    width: 56px;
    height: 58px;
    line-height: 60px;
    bottom: 85px;
    right: 130px;
    background: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 35px;
    box-shadow: 0px 1px 10px rgb(0 0 0 / 30%);
    z-index: 100;
    transition: all 300ms ease;
}
.btn-wsp:hover{
    background: #20ba5a;
}
@media only screen and (min-width:320px) and (max-width:768px){
    .btn-wsp{
        width:63px;
        height:63px;
        line-height: 66px;
	}
}